h3 {
    font-size: 30px;
}

h5{
    font-size: 19px;
    
    @media screen and (max-width: 800px) {
        font-size: 14px;
    }
}

pre{
    font-size: 19px;

    @media screen and (max-width: 800px) {
        font-size: 10px;
    }
}

h1 {
    font-size: 45px;

    @media screen and (max-width: 800px) {
        font-size: 35px;
    }
}

.link {
    text-decoration: underline;
}

.link:hover {
    transition: 1s;
    color: rgb(157, 157, 255);
}

.size-holder-blog {
    width: 80%;

    @media screen and (max-width: 800px) {
        width: 100%;
    }
}
